<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/auth/login.js")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top mCustomScrollbar" data-mcs-theme="dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="nav navbar-nav" src="~/Content/Images/PW.png" style="width:50px;height:50px;" align="middle" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PW Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style=" @{if (User.Identity.IsAuthenticated == false || ViewBag.UserName == null) { ViewContext.Writer.Write(@"visibility:hidden"); } }">
                    <li>
                        <a>Hello @ViewBag.UserName! Your PW balance is <b><span id="userBalance">@ViewBag.Balance</span> PW</b></a>
                    </li>
                    <li>
                        <a href="#" onclick="logout()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br><br><br>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Created by Segey Nikitin (<a href="mailto:souly17@gmail.com">souly17@gmail.com</a>) &copy; 2016</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mCustomScrollbar")
    @RenderSection("scripts", required: false)
</body>
</html>
